
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.testi-wrap {
	width: 100%;
	min-height: 110vh;
	display: grid;
	align-items: center;
}

.testi-in {
	width: auto;
	height: auto;
	margin: 0 20px;
}

.testi-in-content {
	width: 100%;
	height: auto;
	position: relative;
	background: #fff;
	padding: 60px 15px;
	border-radius: 10px;
	text-align: center;
	border: 1px solid rgba(0,0,0,.125);
	margin: 30px 0px;
}


.testi-in-content p {
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	background-color: #fff;
	margin: 20px 0px 0px 0px;
}

.testimonial-name h2{
	width: 100%;
	padding-top: 30px;
	background-color: #fff;
	font-size: 16px;
	font-weight: 500;
}

.quote-icon {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}


.owl-theme .owl-controls {
	margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
	opacity: 1 !important;
	transition: .5s;
}

.owl-theme .owl-controls .owl-page.active span {
	background: #000 !important;
}
